body {
  background-color: purple;
  
}

p {
  color: pink;
  margin: 10px;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Montserrat', serif;

}

h1 {
  margin: 5px;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}

.header-container {
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

.option {
  padding: 15px;
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  background-color: pink;
  box-shadow: 5px 5px 2px black;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 14px;
}


.body-container {
  margin-top: 50px;
  font-family: 'Merriweather', serif;
}

.survey {
  width: 500px;
  display: inline-block;
}

.App {
  align-content: center;
}